# Use commas for inline-lists

ul.plist {
  display: inline-block;
}

ul.plist > li {
  display: inline;
  white-space: nowrap;
}

ul.plist > li::after {
  content: ",";
}

ul.plist > li:last-child::before {
  content: "and ";
}

ul.plist > li:last-child::after {
  content: ".";
}

ul.plist > li:only-child::before {
  content: "";
}

ul.plist > li:only-child::after {
  content: "";
}
