# Use commas for inline-lists

ul.inline {
  display: inline;
}

ul.inline > li {
  display: inline-block;
  white-space: nowrap;
}

ul.inline > li::after {
  content: ",";
}

ul.inline > li:last-child::before {
  content: "and ";
}

ul.inline > li:last-child::after {
  content: ".";
}
